{
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/git",
    "semantic-release-docker",
    "semantic-release-circleci-orb"
  ],
  "publish": [
    {
      "path": "semantic-release-docker",
      "name": "davidkelley/cloudformation-orb"
    },
    {
      "path": "semantic-release-circleci-orb",
      "orbName": "davidkelley/cloudformation",
      "orbPath": "orb.yml"
    }
  ]
}